<div class="p-3 d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="container max-w-500 bg-light  rounded p-3">
    <h1 class="text-center poppins font-weight-extra-bold mt-4">Escolha o seu acesso</h1>
    <p class="text-center small poppins">Escolha um tipo de acesso para que possa prosseguir:</p>
    <div class="container">
      <div class="d-flex align-items-center btn btn-lg w-100 btn-light">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        <div class="  btn-lg w-100 poppins" (click)="">Entrar como professor</div>
      </div>
  </div>
    <button class="btn btn-light border border-2 btn-lg w-100 mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Entrar como aluno</button>
  </div>
</div>








<!-- <div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="centralizar-div">
      <p class="texto-g mb-3">Escolha o seu acesso</p>
      <p class="texto-p">Escolha um tipo de acesso para que possa prosseguir:</p>

      <div class="div-usuario">
        <div class="usuario" style="display: flex; align-items: center;">
          <i class="fa fa-user icone-usuario" style="margin-left: 30px;"></i>

        <p class="texto-pp">Professor</p>
        <i class="fa fa-chevron-right icone-chevron-right"></i>
        </div>

      </div>

      <div class="div-usuario">
        <div class="usuario" style="display: flex; align-items: center;">
          <i class="fa fa-user icone-usuario" style="margin-left: 30px;"></i>

        <p class="texto-pp">Aluno</p>
        <i class="fa fa-chevron-right icone-chevron-right"></i>
        </div>

      </div>
    </div>
  </div>
</div> -->
