<div class="container container d-flex justify-content-center align-items-center min-vh-100">
  <div class="" style="
    margin-top: 70px;
    width: 650px;
    display: flexbox;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0.5px solid #878787;
    background: #FFF;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05);
    padding: 20px
  ">
    <h2 class="mt-5 poppins">Cadastrar cursos</h2>
    <p class="poppins">Insira as informações para cadastrar um curso:</p>
    <form [formGroup]="formGroupClient">
       <div class="mt-5">
          <label for="name" class="form-label poppins">Nome do curso:</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nome do curso" aria-describedby="emailHelp">
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
            {{ nameErrorMessage }}
          </div>
        </div>
      <div class="mt-4">
        <label for="size" class="form-label poppins">Número de semestres:</label>
        <input type="number" class="form-control" formControlName="size" id="size" placeholder="Número de semestres" aria-describedby="emailHelp">
        <div *ngIf="size?.invalid && (size?.dirty || size?.touched)" class="text-danger">
          {{ sizeErrorMessage }}
        </div>
      </div>

      <div class="mt-4">
        <label for="period" class="form-label poppins">Número limite de alunos:</label>
        <input type="number" class="form-control" formControlName="period" id="period" placeholder="Número limite de alunos" aria-describedby="emailHelp">
        <div *ngIf="period?.invalid && (period?.dirty || period?.touched)" class="text-danger">
          {{ periodErrorMessage }}
        </div>
      </div>

      <button type="button" class="btn btn-dark mt-5 poppins" (click)="save()" style="min-width: 100%;">Cadastrar</button>
      <button routerLink="/CoordinatorCourses" type="button" class="btn btn-light mt-3 poppins" style="min-width: 100%;">Voltar</button>
    </form>
  </div>

  
</div>
