<div class="container" style="display: flex; justify-content: flex-start; align-items: center; min-height: 100vh;">
    <div class="" style="
      margin-top: 70px;
      width: 505px;
      height: 501px;
      flex-shrink: 0;
      border-radius: 10px;
      border: 0.5px solid #878787;
      background: #FFF;
      box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05);
      padding: 20px
    ">
      <h2 class="mt-5 poppins">Login</h2>
      <p class="poppins">Insira suas informações para logar:</p>
  
      <div class="mt-5">
        <label for="exampleInputEmail1" class="form-label poppins">Email:</label>
        <input type="email" class="form-control focus-ring" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
  
      <div class="mt-4">
        <label for="exampleInputPassword1" class="form-label poppins">Senha:</label>
        <input type="password" class=" focus-ring form-control poppins" id="exampleInputPassword1">
      </div>

      <button routerLink="/coorfirstscreen" type="button" class="btn btn-dark mt-5 poppins" style="min-width: 100%;">Entrar</button>
    </div>
  
    <img src="../../assets/images/15.png" alt="homem no computador" style="margin-left: 150px; width: 474px; height: 532px;">
  </div>


  