<div class="container container d-flex justify-content-center align-items-center min-vh-100">
    <div class="" style="
      margin-top: 70px;
      width: 650px;
      height: 550px;
      flex-shrink: 0;
      border-radius: 10px;
      border: 0.5px solid #878787;
      background: #FFF;
      box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05);
      padding: 20px
    ">
      <h2 class="mt-5 poppins">Cadastrar Salas/Lab</h2>
      <p class="poppins">Insira as informações para cadastrar a Sala/Lab:</p>
  
      <div class="mt-5">
        <label for="exampleInputEmail1" class="form-label poppins">Nome da sala:</label>
        <input type="email" class="form-control focus-ring" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mt-5">
        <label for="exampleInputEmail1" class="form-label poppins">Número máximo de alunos:</label>
        <input type="email" class="form-control focus-ring" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>


  
      <button type="button" class="btn btn-dark mt-5 poppins" style="min-width: 100%;">Cadastrar</button>

      <button type="button" class="btn btn-light mt-3 poppins" style="min-width: 100%;">Voltar</button>
    </div>
  
    
  </div>
